.popup_tambah { 
    display: none; 
}
.popup_tambah.open { 
    display: block; 
}

.form{
    padding: 23px;
    border: 1px solid #ccc;
    border-radius: 50px;
    width: 700px;
    /* height: 400px; */
    display: block;
    background: #FFF;
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

.blocker {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background: rgba(0,0,0,.5);
}