.popup_tambah {
  display: none;
}
.popup_tambah.open {
  display: block;
}

.popup_edit {
  display: none;
}
.popup_edit.open {
  display: block;
}

.popup_notifikasi {
  display: none;
}
.popup_notifikasi.open {
  display: none;
}

.form {
  padding: 23px;
  border: 1px solid #ccc;
  border-radius: 50px;
  width: 700px;
  /* height: 400px; */
  display: block;
  background: #fff;
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}

.blocker {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background: rgba(0, 0, 0, 0.5);
}
